<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h2 class="headbar">Create a New Post</h2>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Post title:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      
      <div class="form-group">
        <label for="project-desc">Write your post:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Posts:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-9">
        <h4><a class= "current-posts" href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-3">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      
    <!--/profile needs to be changed to the URL to edit a post (particular post with id)-->
      <a class="btn btn-sm btn-warning" href= '/update-post/{{project.id}}'>UPDATE</a>
      
      
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>