<div class="row mb-4 project">
  <h2 class="headbar">
    {{name}}
    <span class="creator" style="float:right">Created by {{user.name}} on {{format_date date_created}}</p></span>
  </h2>
  <p class="headbar">{{description}}</p>




  <p><button class="btn btn-primary">Leave a Comment</button></p>
</div>


<!-- comments -->




<div class="row mb-4 project">
  <h2 class="headbar"></h2>
  <p class="headbar">{{comment.text}}</p>


  <p>
    &mdash; {{user.name}}, {{format_date date_created}}
  </p>


</div>


<!-- comments -->